.receiveNotice {
    width: 70%;
    height: 100px;
    background-color: white;
    margin: 0 15%;
  }
  .receiveNotice_span{
      font-size: 25px;
      font-weight: 800;
      color: rgb(19, 19, 20);
  }
  .receiveNotice_container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 35px;
    border-bottom: 1px solid rgb(209, 208, 208);
  }
  .receiveNotice_container_button{
    margin:0 10px 15px 0;
  }
  .receiveNotice_container_detail{
      display: flex;
      justify-content: center ;
      flex-direction: row;
      margin-bottom:15px
  }