.sendNotice {
  width: 100%;
  height: 100%;
  background-color:rgb(253, 253, 253);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.sendNotice_left{
    height: 100%;
    width: 80%;
    border-right: solid 1px rgb(216, 214, 214);
}
.sendNotice_right{
    height: 100%;
    width: 20%;
}
.sendNotice_left_form_item_one{
    border-bottom: solid 1px rgb(226, 228, 226);
}
.sendNotice_right_top{
    width: 90%;
    height: 10%;
    margin: 10px 20px;
}

