.currentTile {
    height: 100%;
    width: 100%;
    margin-top: 10px;
}

.currentTile_form {
    width: 90%;
    height: 7%;
    padding-left: 3%;
    padding-top: 5px;
    background-color: white;
}

.currentTile_charts {
    width: 100%;
    padding-top: 5px;
    height:88%;
    overflow-x:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 0px;
    bottom:20px;
}

.currentTile_charts_child{
    padding: 0px 5px;
    position: relative;
    z-index: 1;
}
.currentTile_charts_content {
    width: 24%;
    height: 45%;
    margin: 0% 0 0 0.5%;
    display: flex;
    flex-direction: row;
    border: solid #C0C4CC 1px;
}

.currentTile_charts_content_left {
    width: 55%;
}

.currentTile_charts_content_right {
    width: 45%;
    font-size: 13px;
    color: #303133;
    display: flex;
    flex-direction: column;
}

.currentTile_charts_content_right_span {
    margin: 1% 1%;
    display: inline-block;

}

.currentTile_page {
    height: 5%;
}

.currentTileDidlog {
    width: 98%;
    height: 98%;
    margin: 1% 1%;
    display: flex;
    flex-direction: row;
    border: solid #C0C4CC 1px;
}