.login {
  width: 100%;
  height: 100%;
  background-image: url("../images/login_three.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.login-container {
  border-radius: 3%;
  width: 48%;
  height: 45%;
  margin: 12% 30% 0 27%;
  position: absolute;
  background: rgb(242 242 242 / 22%);
  display: flex;
  flex-direction: column;

}

.login-container-title {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
}

.login-container-title-image {
  height: 80%;
  width: 10%;
  margin: 1% 1% 1% 19%;
}

.login-container-title-text {
  color: #fff;
  margin: 2% 2% 1% 0;
  font-size: 32px;
  font-family: "Microsoft Yahei";
}

.login-container-form {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
}

.login-container-form-left {
  width: 60%;
  height: 100%;
}

.login-container-form-left-image {
  width: 100%;
  height: 96%;
  margin: -4% 5%;
}

.login-container-form-right {
  width: 40%;
  height: 100%;
}

.login-container-form-right-form {
  width: 80%;
  height: 100%;
  margin-top: 5%;
}

.loginContainer-button {
  width: 98%;
  margin: 2% 1%;
}

.loginContainer-checkbox {
  margin: 0 12% 6% 5%;
}

.loginContainer-span {
  color: #303133;
  margin: 0 0 6% 30%;
  font-size: 13px;
  font-family: "Microsoft Yahei";
}