.basewellinfor {
    width: 100%;
    height: 93%;
}

.basewellinfor_form {
    width: 99%;
    height: 9%;
    padding-left: 1%;
    padding-top: 5px;
    background-color: white;
}

.basewellinfor_table {
    width: 100%;
    height: 84%;
}

.baseWellInfor_page {
    width: 100%;
    height: 7%;
    background-color: white;
}