.oilStation {
    height: 99%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.oilStation_left {
    width: 15%;
    height: 100%;
    background-color: #3f4c7b;

}

.oilStation_left_title {
    width: 100%;
    height: 4%;
    padding-top: 3%;
    font-size: 20px;
    text-align: center;
    color: #fff;

}

.oilStation_left_oilWell {
    width: 99%;
    height: 35%;
    margin: 2% 0;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

.oilStation_left_oilWell_title {
    font-size: 19px;
    width: 100%;
    height: 12%;
    padding: 3% 0;
    color: #fff;
    border: 1px solid #787878;

}

.oilStation_left_oilWell_dec {
    margin: 2% 0 1% 12%;
    font-size: 13px;
    color: #969aa5;
}

.oilStation_left_waterWell {
    width: 99%;
    height: 29%;
    margin: 3% 0;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.oilStation_left_video {
    width: 99%;
    height: 28%;
    margin: 6% 0;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.proTeam_top_table {
    position: absolute;
    width: 20%;
    height: 20%;
    border-collapse: collapse;
    color: #8dbeb0;
    background-color: #E4E7ED;
}

.oilStation_container {
    width: 85%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
}

.oilStation_container_details {
    width: 20%;
    height: 20%;
    margin: 1% 2%;
    border-radius: 5%;
    border: 2px solid #223c66;
    display: flex;
    flex-direction: column;
}

.oilStation_container_details_top {
    width: 100%;
    height: 10%;
}

.oilStation_container_details_top_title {
    color:#333333;
    font-size: 16px;
    text-align: center;
    padding: 2% 0;
}

.oilStation_container_details_middle {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
}

.oilStation_container_details_middle_img {
    width: 40%;
    height: 120%;
    margin: 3% 0 0 25%;
}

.oilStation_container_details_middle_icon {
    width: 50%;
    height: 100%;
    margin: 10% 0 0 15%;
    font-size: 25px;
    color: #17489c;
}

.oilStation_container_details_bottom {
    width: 100%;
    height: 50%;
    margin: 4% 0;
}

.oilStation_container_details_bottom_dec {
    font-size: 12px;
    margin: 5% 0 1% 8%;
    color: #969aa5;
}