.proTeam {
    height: 99%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.proTeam_left {
    width: 15%;
    height: 100%;
    background-color: #101f3f;
}

.proTeam_left_oilWell {
    width: 99%;
    height: 35%;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.proTeam_left_waterWell {
    width: 99%;
    height: 30%;
    margin: 10% 0%;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.proTeam_left_video {
    width: 99%;
    height: 28%;
    margin: 6% 0%;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.proTeam_left_oilWell_title {
    font-size: 19px;
    width: 100%;
    height: 15%;
    padding: 3% 0;
    color: #fff;
    border: 1px solid #223c66;
}

.proTeam_left_oilWell_dec {
    margin: 2% 12%;
    font-size: 13px;
    color: #969aa5;
}

.proTeam_top_table {
    position: absolute;
    width: 20%;
    height: 20%;
    border-collapse: collapse;
    color: #8dbeb0;
    background-color: #E4E7ED;
}

.proTeam_container {
    width: 85%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.proTeam_container_top {
    width: 80%;
    height: 8%;
    margin: 0 10%;
}

.proTeam_container_top_title {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 2% 0;

}

.proTeam_container_station {
    width: 100%;
    height: 92%;
    display: flex;
    flex-wrap: wrap;
}

.proTeam_container_station_details {
    width: 20%;
    height: 25%;
    margin: 1% 2% 1% 2%;
    background-color: #101f3f;
    border: 1px solid #223c66;
    display: flex;
    flex-direction: column;
    background: rgb(16, 31, 60, 0.1);

}

.proTeam_container_station_details_top {
    width: 100%;
    height: 15%;

}

.proTeam_container_station_details_top_title {
    font-size: 13px;
    height: 90%;
    width: 100%;
    padding: 2% 0;
    text-align: center;
    background-color: #203664;
    border: 1px solid #223c66;
    color: rgb(224, 220, 220);
}

.proTeam_container_station_details_container {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
}

.proTeam_container_station_details_container_left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.proTeam_container_station_details_container_left_icon {
    font-size: 20px;
    color: green;
    height: 20%;
    width: 80%;
    margin: 20% 0 0 40%;
}

.proTeam_container_station_details_container_left_img {
    width: 80%;
    height: 40%;
    margin: 0 8%;
}

.proTeam_container_station_details_container_right {
    width: 60%;
    height: 100%;
    display: flex;
    flex: row;
}

.proTeam_container_station_details_container_right_dec {
    width: 90%;
    height: 100%;
    margin: 5% 0;
    display: flex;
    flex-direction: column;
}

.proTeam_container_station_details_container_right_dec_span {
    font-size: 12px;
    margin: 5% 0 1% 8%;
    color: #969aa5;
}

.proTeam_container_station_details_container_right_icon {
    font-size: 25px;
    margin: 30% 0;
    color: #17489c;
}

.proTeam_table {
    width: 100%;
    height: 100%;
}