.wellsite {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.wellsite_left {
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    background-color: #101f3f;
}

.wellsite_left_title {
    width: 60%;
    height: 4%;
    font-size: 20px;
    margin: 1% 20%;
    text-align: center;
    color: #fff;
}

.wellsite_left_dailyData {
    width: 90%;
    height: 13%;
    margin: 0 5%;
    font-size: 14px;
    color: #969aa5;
}

.wellsite_left_dailyData_p {
    margin: 2% 10%;
}

.wellsite_left_condition {
    width: 100%;
    height: 5%;
    margin: 1% 0;
    border: 1px solid #223c66;
}

.wellsite_left_condition_icon {
    color: rgb(214, 117, 117);
    font-size: 20px
}

.wellsite_left_condition_title {
    color: #969aa5;
    font-size: 16px
}

.wellsite_left_condition_details {
    width: 90%;
    height: 18%;
    margin: 1% 5%;
    font-size: 12px;
    color: #969aa5;
}

.wellsite_left_condition_details_li {
    list-style-type: none;
    font-size: 12px;
    color: #969aa5;
    height: 22px;
    margin-left: -18%
}

.wellsite_left_img {
    width: 90%;
    height: 25%;
    margin: 2% 5%;
}

.wellsite_left_video {
    width: 100%;
    height: 6%;
    margin: 2% 0;
    display: flex;
    flex-direction: row;
}

.wellsite_left_video_container {
    width: 40%;
    height: 80%;
    margin: 0 4%;
    border-radius: 10%;
    border: 2px solid #2cab6f;
}

.wellsite_left_video_container_text {
    color: #969aa5;
}

.wellsite_right {
    height: 100%;
    width: 85%;
    overflow-y: scroll;
}

.wellsite_right_oilWell {
    width: 100%;
    height: 65%;
    display: flex;
    flex-wrap: wrap;
}

.wellsite_right_oilWell_details {
    width: 13%;
    height: 46%;
    border: 2px solid #223c66;
    margin: 1% 1% 0 2%;
    border-radius: 5%;
}

.wellsite_right_oilWell_details_title {
    font-size: 14px;
    text-align: center;
    font-weight: 700;
    color: rgb(224, 220, 220);
}

.wellsite_right_oilWell_details_img {
    width: 55%;
    height: 39%;
    margin-left: 10%
}

.wellsite_right_oilWell_details_dec {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin: 2% 6%;
    color: #969aa5;

}

.wellsite_right_waterWell {
    width: 100%;
    height: 31%;
    display: flex;
    flex-wrap: row;
}

.wellsite_right_waterWell_details {
    width: 13%;
    height: 100%;
    border: 2px solid #223c66;
    margin: 1% 1% 0 2%;
    border-radius: 5%;
}

.wellsite_right_waterWell_details_title {
    font-size: 14px;
    text-align: center;
    font-weight: 700;
    color: rgb(224, 220, 220);
}

.wellsite_right_waterWell_details_img {
    width: 55%;
    height: 42%;
    margin-left: 18%
}

.wellsite_right_waterWell_details_dec {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin: 2% 12%;
    color: #969aa5;
}

.wellsite_right_waterWell_details_dec_span {
    margin: 1% 0;
}