.wellsite {
    height: 99%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
}
.wellsite_left {
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
}
.wellsite_left_wellsite {
    font-size: 18px;
    margin: 0 8%;
}
.wellsite_left_dailyData {
    width: 90%;
    height: 20%;
    margin: 0 5%;
    font-size: 14px;
    border-radius: 5%;
    border: 1px solid #dfe0e2;
}
.wellsite_left_condition {
    margin: 0 5%;
}
.unattended-wellsite_bac_condition {
    width: 100%;
    height: 100%;
    border: 1px solid #dfe0e2;
    display: flex;
    flex-direction: column;
}
.wellsite_left_condition_details {
    width: 90%;
    height: 20%;
    margin: 1% 5%;
    font-size: 12px;
    border-radius: 5%;
    border: 1px solid #dfe0e2;
}
.wellsite_left_img {
    width: 90%;
    height: 30%;
    margin: 0 5%;
}
.wellsite_left_video {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
}
.wellsite_left_video_container {
    width: 40%;
    height: 90%;
    margin: 0 4%;
    border: 2px solid #dfe0e2;
}
.unattended-wellsite_well {
    height: 100%;
    width: 85%;
   
}
.unattended-wellsite_well_oilWell {
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
}
.unattended-wellsite_well_oilWell_details {
    width: 14%;
    height: 42%;
    border: 1px solid #dfe0e2;
    margin: 1% 1% 0 1%;
}
.unattended-wellsite_well_oilWell_details_title {
    font-size: 14px;
   text-align: center;
   font-weight: 700;
}
.unattended-wellsite_well_oilWell_details_img {
    width:55%;
    height:39%;
    margin-left:10%
}
.unattended-wellsite_well_oilWell_details_dec {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin: 0 6%;
    color: #666;
}
.unattended-wellsite_well_oilWell_details_bottom {
    font-size: 13px;
    font-weight: 700;
    margin: 2% 2%;
}
.unattended-wellsite_well_waterWell {
    width: 100%;
    height: 30%;
    display: flex;
    flex-wrap: row;
}
.unattended-wellsite_well_waterWell_details {
    width: 15%;
    height: 90%;
    border: 1px solid #dfe0e2;
    margin: 2% 1%;
}
.unattended-wellsite_well_waterWell_details_title {
    font-size: 14px;
   text-align: center;
   font-weight: 700;
}
.unattended-wellsite_well_waterWell_details_img {
    width:55%;
    height:42%;
    margin-left:18%
}
.unattended-wellsite_well_waterWell_details_dec {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin: 0 12%;
    color: #666;
}
.unattended-wellsite_well_waterWell_details_bottom {
    font-size: 13px;
    font-weight: 700;
    margin: 1% 5%;
}