.user {
    display: flex;
    flex-direction: row;
    height: 93%;
    width: 100%;
}

.user_left {
    width: 15%;
    height: 100%;
    margin-right: 5px;
    background-color: white;
}

.user_right {
    width: 84%;
    height: 100%;
}

.user_right_form {
    width: 98%;
    height: 9%;
    padding-left: 1%;
    padding-top: 5px;
    background-color: white;
}

.user_right_table {
    width: 99%;
    height: 84%;
}

.user_right_page {
    width: 99%;
    height: 6%;
    background-color: white;
}