.container {
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 100%;
    margin-top: 10px;
}

.left {
    width: 15%;
    height: 100%;
    margin-right: 10px;
    background-color: white;
}

.right {
    width: 85%;
    height: 100%;
}

.right_form {
    width: 98%;
    height: 9%;
    padding-left: 1%;
    padding-top: 5px;
    background-color: white;
}

.right_table {
    width: 99%;
    height: 84%;
}

.right_page {
    width: 99%;
    height: 6%;
    background-color: white;
}