.header_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container_left {
    width: 40%;
    display: flex;
    flex-direction: row;
}

.container_left .container_left_text {
    margin-top: 3%;
    color: #f2f6fc;
    font-size: 24px;
}

.container_left .container_left_img {
    width: 90px;
    height: 50px;
    margin-top: 1%;
}

.container_middle {
    width: 45%;
}

.container_right {
    width: 15%;
    display: flex;
    flex-direction: row;
}

.container_right_notice{
    width: 300px;
    height: 200px;
    margin-top: 30px;
}
.container_right_notice_scrollbar{
    height:180px;
    width:300px
}
.container_right_notice_content{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 13px;
    height:40px;
    border-bottom: solid 1px rgb(218, 215, 215);
    margin:5px 0;
}
.container_right_notice_button{
    width: 100%;
    height: 10px;
    margin-top:2px;
    font-size: 14px;
    font-weight: bold;
    color: red;
    border-top: solid 1px rgb(218, 215, 215);

}
.container_right .container_right_badge{
    margin-top: -2px;
}

.container_right .container_right_user {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 80%;
    margin-top: 35%;
}

.container_right .container_right_username {
    line-height: 60px;
    font-size: 16px;
    margin-top: 6%;
    margin-left: 25%;
    color: #fff;
}