.main {
    width: 98%;
    height: 97%;
    margin: 1% 1% 0 1%;
    display: flex;
    flex-direction: row;
}

.main_between {
    width: 25%;
    height: 100%;
}

.main_middle {
    width: 50%;
    height: 100%;
}

.main_between_1,
.main_between_2 {
    width: 96%;
    height: 46%;
    margin: 2% 2%;
}

.main_between_1_item_basicInformation{
    height: 300px;
    width: 100%;
    /* margin-top: -10px; */
}

.main_between_1_item__announce{
    display: flex;
    flex-direction: row;
    justify-content:space-between
}
.main_between_1_item__announce_button {
    font-size: 10px;
}
.main_between_1_item_notice{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main_between_1_item_notice_span{
    font-size: 13px;
    margin: 2% 0;
    color: #003399;
}
.main_between_2_item_statistics{
    height: 300px;
    width: 100%;
}

.main_between_2_progress {
   height: 300px;
   width: 100%;
   margin-top: 2%;
}
.main_between_2_progress_span{
    font-size: 13px;
    color: #003399;
}


.main_middle_1,
.main_middle_2 {
    width: 96%;
    margin: 1% 2%;
}

.main_middle_1 {
    height: 56%;
}

.main_middle_2 {
    height: 36%;
}
.main_middle_1_item,
.main_middle_2_item {
    width: 99%;
    height: 100%;

}

.main_middle_2_item_car{
    height: 240px;
    width: 100%;
}
.amap-demo {
    height: 90%;
    margin-top: 8px;
}

