.liquid_volume_abnormal {
    height: 100%;
    width: 98%;
    padding-left: 1%;
}

.liquid_volume_abnormal_form {
    width: 98%;
    height: 9%;
    padding-left: 1%;
    padding-top: 5px;
}

.liquid_volume_abnormal_page {
    width: 98%;
    height: 6%;
}

.liquid_volume_abnormal_dialog{
    width: 100%;
}
.liquid_volume_abnormal_dialog_form {
    width: 100%;

}