.liquid_volume_abnormal {
    height: 100%;
    width: 98%;
    padding-left: 1%;
}

.liquid_volume_abnormal_form {
    width: 98%;
    height: 9%;
    padding-left: 1%;
    padding-top: 5px;
}

.liquid_volume_abnormal_page {
    width: 98%;
    height: 6%;
}

.liquid_volume_abnormal_dialog {
    width: 100%;
}

.liquid_volume_abnormal_dialog_form {
    width: 100%;
}

.liquid_volume_abnormal_dialog_liq {
    height: 430px;
    width: 100%;
}

.liquid_volume_abnormal_dialog_liq_text {
    line-height: 430px;
    margin-left: 42%;
    font-size: 26px;
}
.el-table .cell {
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    line-height: 14px !important;
    padding-right: 10px;
  }