.work_collect {
    height: 100%;
    width: 98%;
    padding-left: 1%;
}

.work_collect_item {
    height: 100%;
    width: 100%;
}

.work_collect_form {
    width: 98%;
    height: 9%;
    padding-left: 1%;
    padding-top: 5px;
}
.work_collect_table {
    width: 98%;
    height: 90%;
}

.work_collect_item_detail {
    width: 60%;
    height: 200px;
    margin-left: 16%;
    overflow: auto;
    text-align: center;
}

.work_collect_page {
    width: 98%;
    height: 6%;
    margin-bottom: 0.5%;
}

.work_collect_item_detail_btn {
    width: 100%;
    height: 6%;
    margin-bottom: 0.5%;
    display: flex;
    flex-direction: row;
}

.work_collect_item_detail_table {
    width: 100%;
    height: 10%;
    text-align: center;
}

.work_collect_item_detail_table,
.work_collect_item_detail_table tr th,
.work_collect_item_detail_table tr td {
    border: 1px solid #DCDFE6;
}

.work_collect_item_detail_table th {
    background-color: #E4E7ED;
}

.work_collect_item_gt {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.work_collect_item_gt_g {
    height: 100%;
    width: 25%;
}
.chart{
    width: 25%;
}

.work_collect_item_measure {
    width: 100%;
    height: 30%;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    border: 1px solid #DCDFE6;
}

.work_collect_item_measure_left {
    width: 15%;
    height: 100%;
    text-align: center;
    line-height: 175px;
    font-size: 20px;
    border-right: 1px solid #DCDFE6;
}

.work_collect_item_appent_gt_dialog_form {
    margin-left: 3%;
}

.work_collect_item_appent_gt_dialog_gt {
    height: 480px;
    width: 100%;
}

/* .work_collect_item_appent_gt_dialog_gt_text {
    line-height: 400px;
    margin-left: 42%;
    font-size: 26px;
} */

.main {
    padding-top: 5px;
    height:100%;
    width: 100%;
    overflow-x:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 15px;
    bottom:20px;
}

/* .chart{
    padding: 0px 5px;
    position: relative;
    z-index: 1;
} */
.work_collect_item_appent_gt_dialog_gt_page {
    width: 100%;
    height: 7%;
    background-color: white;
}
.el-dialog__body{
 padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 20px;
  color: #606266;
  font-size: 14px;
}
.tile_echarts {
    padding-top: 5px;
    height:86%;
    overflow-x:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 15px;
    bottom:20px;
}


