.downholeOperations {
  width: 100%;
  height:100%;
  background-color: #f2f6fc;
}
.dow_form {
  width: 99%;
  height: 8%;
  padding-top: 5px;
  padding-left: 1%;
  background-color: white;
}
.role_page {
  width: 100%;
  height: 6%;
  background-color: white;
}